/* Desktop */
@media (min-width: 992px) {
  .card {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .time-left-progress {
    margin-left: 10%;
    margin-right: 10%;
  }

  #add_form {
    margin-left: 10%;
    margin-right: 10%;
  }

  a .badge {
    font-size: 14px;
  }

  .navbar {
    margin-left: -15px;
    margin-right: -15px;
  }

  #disable_offline {
    margin-left: 10%;
    margin-right: 10%;
  }

  #decryption {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
  }
}

/* Mobile */
@media (max-width: 992px) {
  .card {
    margin-top: -1px;
    border: none;
  }

  a .badge {
    font-size: 15px;
  }

  .navbar {
    margin-left: -16px;
    margin-right: -16px;
  }

  input {
    min-width: 150px;
    margin-bottom: 10px;
  }

  #add {
    margin-top: 10px;
  }

  #decrypt {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
}

.modal-dialog {
  margin-top: 5%;
}

.rename-button {
  margin-right: 10px;
}

.ten-top-margin {
  margin-top: 10px;
}

@font-face {font-family: 'Source Sans Pro';font-style: normal;font-weight: 300;src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('../fonts/source-sans-pro-v13-latin-300.woff2') format('woff2');}@font-face {font-family: 'Source Sans Pro';font-style: normal;font-weight: 400;src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),url('../fonts/source-sans-pro-v13-latin-regular.woff2') format('woff2');}@font-face {font-family: 'Source Sans Pro';font-style: italic;font-weight: 400;src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'),url('../fonts/source-sans-pro-v13-latin-italic.woff2') format('woff2');}@font-face {font-family: 'Source Sans Pro';font-style: normal;font-weight: 700;src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),url('../fonts/source-sans-pro-v13-latin-700.woff2') format('woff2');}
